*
	margin: 0px
	padding: 0px
	


.container
	
	display: flex
	justify-content: center
	
	
	

ul
	display: flex
	width: 2000px

 
li
	list-style: none

	

#carousel
	height: 400px
	width: 400px
	overflow: hidden
